<footer>
    <div class="footer-content">
        <div class="footer-list">
            <ul>
                <li><h2>ACESSO CLIENTE</h2></li>
                <li><p>Consulte suas Viagens</p></li>
                <li><p>Acesse sua Conta</p></li>
                <li><p>Cadastre-se</p></li>
            </ul>
            <ul>
                <li><h2>SOBRE NÓS</h2></li>
                <li><p>Trabalhe Conosco</p></li>
                <li><p>Quem somos</p></li>
            </ul>
        </div>
    </div>
    <div class="region-footer">
        <small>&copy; 2023 IN9CAR | - Nenhum direito reservado.</small>
    </div>
</footer>