{% block css_interno %}
<style type="text/css">

.footer-content{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.footer-list{
    display: flex;
    justify-content:space-around;
    flex-direction: row;
}
.blocoum{
    display: flex;
    justify-content: space-around;
    flex-direction:row;
    
}
.blocodois{
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.footer-list ul{
    display: flex;
    flex-direction: row;
    margin-top: 1px;
}

h2{
    color: #F9A72B;
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
footer{
    height: 10%;
    position: static;
    bottom: 10;
    left: 0;
    
}
a{
    text-decoration: none;
}
.region-footer{
    margin-bottom:0px ;
    background-color: none;
    color: #F9A72B;
    font-weight: bolder;
}

</style>
{% endblock %}

<footer>
    <div class="footer-content">
        <div class="footer-list">
            <div class="blocoum">
           
                <a href=""><h2>Politicas de Uso</h2></a>
                <a href=""><h2>Acesse sua Conta</h2></a>
                <!-- {% if not user.is_authenticated %}
                <a href="{% url 'cadastro' %}"><h2>Cadastre-se</h2></a>
                {% endif %} -->
                
           
                <a href=""><h2>Trabalhe Conosco</h2></a>
                <a href=""><h2>Quem somos</h2></a>
                <!-- {% if not user.is_authenticated %}
                <a href="{% url 'login' %}">Login</a>
                {% endif %} -->
            
            </div>
    </div>
    <div class="region-footer">
        <small>&copy; 2023 MOTOZUN | - Nenhum direito reservado.</small>
    </div>
</footer>