{% load static %}
<header>
    <div class="logotipo">
        LOGOTIPO
    </div>

    <nav class="menu">
        <ul>
            <li>INÍCIO</li>
            <a href="{% url "viagem:solicitacao_viagem" %}"><li>SOLICITAR VIAGEM</li></a>
            <li>CONTATO</li>
        </ul>
    </nav>
        <div class="cadastro-colaborador">
            <div class="botao-colaborador">
                {% if not user.is_authenticated %}
                <p>Seja Colaborador</p>
                {% endif %}
                {% if user.is_authenticated %}
                <a href="{% url 'sair' %}"><li>Sair</li></a>
                {% endif %}
  
            </div>
        </div>

</header>