*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html
{
    height: 100%;
    width: 100%;
}
body
{
    width: 100%;
    height: 100%;
    background-color: #27343E;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
/*Estilização de cabeçalho*/
header
{
    position: fixed;
    z-index: 2;
    display: flex;
    background-color: #FFFFF3;
    color: #FFB923;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    width: 100%;
    height: 10%;
    white-space: nowrap;
    align-items: center;

}
a:visited, a
{
    text-decoration: none;
    color: #FFB923;
}
.logotipo
{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
/*menu é uma classe de nav*/
.menu
{
    display: flex;
    flex-grow: 2.5;
}
ul
{
    display: flex;
    justify-content: center;
    list-style: none;
    flex-grow: 2;
    gap: 15%;
}

.cadastro-colaborador
{
    flex-grow: 0.5;
    display: flex;
    justify-content: center;

}
.botao-colaborador
{
    background-color: #27343E;
    border: 1px solid black;
    border-radius: 20px;
    width: 75%;
    padding: 3%;
    display: flex;
    justify-content: center;
}

/*Estilização de fundo branco com homem apontando a esquerda*/
.secao-com-imagem
{
    background-image: url('img/fundo.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    color: #FFB923;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 3);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.secao-com-texto
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 45%;
    font-size: 30pt;
}
.secao-com-pessoa
{
   display: flex;

   background-color: #FFB923;
   border-radius: 5%;
}
.secao-com-texto-menor
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    font-size: 22pt;
    text-align: center;
    position: relative;
    bottom: 3%;
}
footer{
    width: 100%;
    height: 35%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-position: center;
    background-color: #1b1b1b;
    color: lightgray;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}
footer h2
{
    margin-bottom: 15px;
}
.footer-content
{
    display: grid;
 
}
.footer-list
{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    gap: 100px;
}
.footer-list ul
{
    display: grid;
    list-style: none;
}
/*Região final do footer*/
.region-footer
{
    position: relative;
    top: 30%;
    padding: 1%;
    background-color: black;
    display: flex;
    justify-content: center;
}