{% extends "global/base.html" %}
{% load static %}

{% block css_interno %}
<style type="text/css">

    .container{
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        align-items: center;
        font-style: oblique;
        background-color: #F9A72B;
        margin-top: 200px;
        width: 100px;
        height: 300px;
        font-size: 20px;
    }
    form{
        background-color: #F9A72B;
        font-weight: bold;
        width: 200px;
        margin-left: 20px;
        margin-right: 20px;
        align-items: center;
    }
    input{
        border-radius: 15px;
        gap: 20px;
        text-align: center;
        height: 30px;
        width: 300px;
        font-size: 15px;
        text-transform: uppercase ;
        background-color: #F9A72B;
    }

</style>

{% endblock css_interno %}


{% block titulo %}Cadastre-se!{% endblock titulo %}


{% block conteudo %}


 <div class="container">
    <p> cadastro mototaxista</p>
    <form method="post">
        {% csrf_token %}
        {{ form_mototaxi }}
        <p><input type="submit" value="cadastrar"></p>
    </form>

 </div>

{% endblock conteudo %}