{% extends "global/base.html" %}
{% load static %}

{% block css_interno %}
    <style type="text/css">
        .anuncio-1
        {
            width: 400px;
            height:  80%;
            border: 3px solid white;
            background-color: #00C2C3;
            color: gold;
            gap: 50px;
        }
        
    </style>

{% endblock css_interno %}

{% block titulo %}Página Inicial{% endblock titulo %}

{% block conteudo %}
    {% include "partials/secao-fundo.html" %}
{% endblock conteudo %}