{% extends "global/base.html" %}

{% block css_interno %}
    <style type="text/css">
        .container
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }
    </style>
{% endblock css_interno %}


{% block titulo %}Login{% endblock titulo %}


{% block conteudo %}
    <div class="container">
        <div class="logar">
            <form method="POST">
                <!--Ícone para imagem de usuário-->
                <i></i>
                <!--Containers para cada input do formulário-->
                <div></div>
                <div></div>
            </form>
        </div>
        <section>
            <div class="container-azul">Teste</div>
        </section>
    </div>
{% endblock conteudo %}