{% extends "global/base.html" %}
{% load static %}

{% block css_interno %}
<style type="text/css">
.principal{
    margin-top: 200px;
    background-color: #F9A72B;
    width: 80%;

}
</style>

{% endblock css_interno%}

{% block conteudo %}
<div class="principal">
    
    <div class="imagem">
        <img class="foto" src="{% static 'img/passageira.png' %}" width="25px">
        <div class="dados">
        <!-- {% for perfil in listar_dados %} -->

            <p>Nome: <!--{{MyUser.nome}} --></p>
            <p>email:<!-- {{MyUser.email}}  --></p>
            <!-- {% empty %} -->
            <!-- <p> Faça seu cadastro</p> -->

        </div>
    <!-- {% endfor %} -->
    </div>
</div>

{% endblock conteudo %}