{% extends "global/base.html" %}

{% block css_interno %}
    <style type="text/css">
        

    </style>
{% endblock css_interno %}


{% block titulo %}Solicitar Viagem{% endblock titulo %}


{% block conteudo %}
<div class="container">
    <section class="secao-com-imagem-de-fundo">
        <div class="slogan-texto-esquerdo">
            <h1>À DISTÂNCIA <br>DE <br>UM TOQUE</h1>
        </div>
        <div class="slogan-texto-direito">
            <h1>MOTOTÁXI <br> ONLINE</h1>
        </div>
    </section>
</div>
{% endblock conteudo %}