{% extends "global/base.html" %}

{% block css_interno %}
<meta http-equiv="refresh" content="7">
<style type="text/css">
    .container
    {
        margin-top: 100px;
        height: 60%;
        width: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 10%;
        color: #27343E;
        flex-direction: column;
        background-color: #FFB923;
        border-radius: 30px;
    }
    .info-solicitacao, form
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .texto{
        font-size: 20px;
    }
    .botao{
        background-color: white;
        color: #27343E;
        border-radius: 5px;
        height: 35px;
    }
    small{
        font-weight: bold;
    }
</style>
{% endblock css_interno %}

{% block titulo %}Aguarde{% endblock titulo %}

{% block conteudo %}
    <div class="container">
        <h1>Sua solicitação:</h1>
        <hr>
        <div class="info-solicitacao">

                <p class="texto"><b>Ponto de Partida: </b>{{ solicitacao.ponto_partida }}</p>
                <p class="texto"><b>Ponto de Destino: </b>{{ solicitacao.ponto_destino }}</p>
                <p class="texto"><b>Distância em KM: </b>{{ solicitacao.distancia }}</p>
                <p class="texto"><b>Tempo estimado: </b>{{ solicitacao.duracao }}</p>
                <small>Aguarde um mototaxista aceitar sua viagem</small>
                <form action="" method="post">
                    <br>
                    <input class="botao" type="submit" value="Cancelar viagem">
                </form>

        </div>
    </div>
{% endblock conteudo %}