{% extends "global/base.html" %}

{% block css_interno %}
    <style type="text/css">
        .container
        {
            height: 30%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            top: 10%;
        }
    </style>
{% endblock css_interno %}


{% block titulo %}Solicitar Viagem{% endblock titulo %}


{% block conteudo %}
    <div class="container">
        <p><b>Ponto de partida:</b>{{ solicitacao.ponto_partida }}</p>
        <p><b>Ponto de destino:</b>{{ solicitacao.ponto_destino }}</p>
        <p><b>Hora solicitada:</b>{{ solicitacao.data_hora_solicitada }}</p>
        <p>Tempo Estimado</p>
        <p>Distância em KM</p>
        <input type="submit" value="Concluir" name="aceite">
    </div>
{% endblock conteudo %}